@use '../../../../my-theme.scss' as my-theme;
.side-filters {
  background-color: #f1f8e9;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #d6d6d6;
  width: 100%;
  box-sizing: border-box;


  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;

    .mat-form-field-outline {
      color: my-theme.$primary-green;
    }

    .mat-form-field-label {
      color: my-theme.$primary-green;
    }

    .mat-input-element {
      color: #333;
    }
  }

  h3 {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: my-theme.$primary-green;
    font-weight: 600;
  }

  .event-filter-section {
    margin-top: 0.5rem;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        margin-bottom: 0.5rem;
      }
    }

    .event-type-checkbox {
      font-weight: 500;
      color: #333;

      .mat-checkbox-label {
        color: #333;
      }

      .mat-checkbox-checked.mat-accent .mat-checkbox-background,
      .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: my-theme.$accent-green;
      }
    }
  }

  hr {
    margin-top: 1.5rem;
    border: none;
    height: 1px;
    background-color: #ccc;
  }
}